:root {
  --background: transparent;
  --foreground: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: inherit;
  }
}

body {
  color: var(--foreground);
  background: transparent; /* <- IMPORTANTÃSSIMO */
  font-family: Arial, Helvetica, sans-serif;
}

@media (forced-colors: active) {
  a {
    color: LinkText;
  }
  body {
    forced-color-adjust: auto;
  }
}
